apply plugin: 'java'
apply plugin: 'idea'

repositories {
    mavenCentral()
}

dependencies {
    testCompile 'junit:junit:4.11'
    compile 'org.mybatis:mybatis:[% project.mybatis_version %]'
    runtime 'org.xerial:sqlite-jdbc:3.7.2'
}
