[%- SET attributes = comp.attributes -%]
[%- SET module_class  = project.get_part("module_class") -%]
package [% module_class.package_name %];

import com.google.gwt.core.client.EntryPoint;

public class [% module_class.class_name %] implements EntryPoint {
    @Override
    public void onModuleLoad() {
        // TODO: implement the entry point here
    }
}
